.buildpath
.project
.cproject
/.settings
/nbproject
/.idea
*.gz
*.ct2
*.DS_Store
protected/runtime/*
protected/env.php
protected/config/local.php
upload/*
tinymce/*
img/*
protected/vendors/*        
/Debug/
/Release/
core
