IndexIgnore *
DirectoryIndex yii-cws-app

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ yii-cws-app/$1

RewriteRule ^$ yii-cws-app [L]
RewriteRule ^/$ yii-cws-app [L]
