<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="<TMPL_var assetsUrl>/img/favicon.png">
    <title>Home</title>
</head>
<body>
    <div class="wrap-all main-body">
        <div class="wrap wrap-pre-head after">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">YII CWS App</a>
                </div>
            
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><a href="<TMPL_var amUrl>"><TMPL_var gettext("Asset Manager")></a></li>
                    <li><a href="<TMPL_var sessionsUrl>"><TMPL_var gettext("Sessions")></a></li>
                    <li><a href="<TMPL_var cookiesUrl>"><TMPL_var gettext("Cookies")></a></li>
                    <li><a href="<TMPL_var securityUrl>"><TMPL_var gettext("Security")></a></li>
                    <li><a href="<TMPL_var dbUrl>"><TMPL_var gettext("Database")></a></li>
                    <li><a href="<TMPL_var contactsUrl>"><TMPL_var gettext("Contacts")></a></li>
                    <li><a href="<TMPL_var translateUrl>"><TMPL_var gettext("Translation with params")></a></li>
                    <li><a href="<TMPL_var badRequestUrl>"><TMPL_var gettext("Bad Request Url")></a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><TMPL_var gettext("Language")> <span class="caret"></span></a>
				        <ul class="dropdown-menu">
			            <TMPL_foreach langs as language>
	                       <TMPL_if (lang == language.label)>
	                       <li><a href="<TMPL_var language.url>" class="active"><TMPL_var language.label></a></li>
	                       <TMPL_else>
	                       <li><a href="<TMPL_var language.url>"><TMPL_var language.label></a></li>
	                       </TMPL_if>
	                    </TMPL_foreach>
				        </ul>
			        </li>
                    <li><a href="<TMPL_var loginUrl>">
                        <TMPL_var gettext("Login")>
                    </a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div class="wrap wrap-header after">
            <div class="content">
                <div class="lang after">
                    
                </div>
            </div>
        </div>
        
        <div id="content">
            <TMPL_var content>
        </div>
        
    </div>

</body>
</html>