<div class="wrap wrap-line-work">
    <div class="content">
    	<span class="h2">
    		МЫ КОМАНДА ПРОФЕССИОНАЛОВ
    	</span>
    	<p class="text-align-c">
    		Готовы Вам помочь в реализации самых креативных, сложных и амбициозных идей.
    	</p>
    	<div class="line-work-content after before">
    		<div class="line-work-block">
    			<img src="<TMPL_var assetsUrl>/img/line-work/line-work-1.png" alt="">
    			<a href="">ДИЗАЙН</a>
    			<span class="h4">
    				Мы разрабатываем самые разные <br/>дизайнерские решения для Ваших идей.
    			</span>
    		</div>
    		<div class="line-work-block">
    			<img src="<TMPL_var assetsUrl>/img/line-work/line-work-2.png" alt="">
    			<a href="">РАЗРАБОТКА</a>
    			<span class="h4">
    				Мы разрабатываем корпоративнык сайты <br/> и веб-ресурсы со сложной бизнес-логикой.
    			</span>
    		</div>
    		<div class="line-work-block">
    			<img src="<TMPL_var assetsUrl>/img/line-work/line-work-3.png" alt="">
    			<a href="">БИЗНЕС АНАЛИТИКА</a>
    			<span class="h4">
    				Мы порекомендуем Вам именно те инструменты, которые будут оптимальны для Вашего проекта.
    			</span>
    		</div>
    		<div class="line-work-block">
    			<img src="<TMPL_var assetsUrl>/img/line-work/line-work-4.png" alt="">
    			<a href="">ОПТИМИЗАЦИЯ</a>
    			<span class="h4">
    				Мы выведем Ваш сайт <br/> в ТОП ведущих поисковых систем.
    			</span>
    		</div>
    		<div class="line-work-block">
    			<img src="<TMPL_var assetsUrl>/img/line-work/line-work-5.png" alt="">
    			<a href="">УПРАВЛЕНИЕ</a>
    			<span class="h4">
    				Мы используем новейшие методы управления Вашим сайтом, для развития бизнеса в интернете.
    			</span>
    		</div>
    		<div class="line-work-block">
    			<img src="<TMPL_var assetsUrl>/img/line-work/line-work-6.png" alt="">
    			<a href="">ХОСТИНГ И ПОДДЕРЖКА</a>
    			<span class="h4">
    				Мы формируем индивидуальные программы поддержки для повышения эффективности.
    			</span>
    		</div>
    	</div>
    </div>
    <div class="wrap before tech-wrap">
    	<div class="line-with-button"></div>
    	<div class="button-on-line"><div>ТЕХНОЛОГИИ</div></div>
    	<div class="content">
    		<span class="h2">
    			РАСШИРЯЕМ ЗНАНИЯ - ПОВЫШАЕМ ПРОФЕССИОНАЛИЗМ
    		</span>
    		<p class="text-align-c">
    			Мы используем новейшие технологи в IT-индустрии, чтобы раскрыть <br/> все возможности Вашего будущего сайта. 
    		</p>
    		<div>
                <div class="tech-slider">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <!-- Маркеры слайдов -->
                   <!--    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                      </ol> -->
     
                      <!-- Содержимое слайдов -->
                      <div class="carousel-inner">
                        <div class="item active">
                          <div class="slide-content">
                          	<div class="slide-content-block">
                          		<div class="slide-img-wrap">
                          			<div class="slide-img-content">
                          				<img src="<TMPL_var assetsUrl>/img/technology/tech-1.png" alt="">
                          			</div>
                          		</div>
                          	</div>
                          	<div class="slide-content-block">
                          		<div class="slide-img-wrap">
                          			<div class="slide-img-content">
                          				<img src="<TMPL_var assetsUrl>/img/technology/tech-2.png" alt="">
                          			</div>
                          		</div>
                          	</div>
                          	<div class="slide-content-block">
                          		<div class="slide-img-wrap">
                          			<div class="slide-img-content">
                          				<img src="<TMPL_var assetsUrl>/img/technology/tech-3.png" alt="">
                          			</div>
                          		</div>
                          	</div>
                          	<div class="slide-content-block">
                          		<div class="slide-img-wrap">
                          			<div class="slide-img-content">
                          				<img src="<TMPL_var assetsUrl>/img/technology/tech-4.png" alt="">
                          			</div>
                          		</div>
                          	</div>
                          	<div class="slide-content-block">
                          		<div class="slide-img-wrap">
                          			<div class="slide-img-content">
                          				<img src="<TMPL_var assetsUrl>/img/technology/tech-5.png" alt="">
                          			</div>
                          		</div>
                          	</div>
                          </div>
                        </div>		                     
                        <div class="item">
                         <div class="slide-content">
                          	<div class="slide-content-block">
                          		<div class="slide-img-wrap">
                          			<div class="slide-img-content">
                          				<img src="<TMPL_var assetsUrl>/img/technology/tech-1.png" alt="">
                          			</div>
                          		</div>
                          	</div>
                          	<div class="slide-content-block"><div class="slide-img-wrap">
                          			<div class="slide-img-content">
                          				<img src="<TMPL_var assetsUrl>/img/technology/tech-1.png" alt="">
                          			</div>
                          		</div>
                          	</div>
                          	<div class="slide-content-block">
                          		<div class="slide-img-wrap">
                          			<div class="slide-img-content">
                          				<img src="<TMPL_var assetsUrl>/img/technology/tech-1.png" alt="">
                          			</div>
                          		</div>
                          	</div>
                          	<div class="slide-content-block">
                          		<div class="slide-img-wrap">
                          			<div class="slide-img-content">
                          				<img src="<TMPL_var assetsUrl>/img/technology/tech-1.png" alt="">
                          			</div>
                          		</div>
                          	</div>
                          	<div class="slide-content-block">
                          		<div class="slide-img-wrap">
                          			<div class="slide-img-content">
                          				<img src="<TMPL_var assetsUrl>/img/technology/tech-1.png" alt="">
                          			</div>
                          		</div>
                          	</div>
                          </div>
                        </div>
                      </div>
                      
     
                      <!-- Controls -->
                      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                      </a>
                    </div>
     
                </div>
    		</div>
    		<a href="" class="to-portfolio">перейти в портфолио</a>
    	</div>
    </div>
    <div class="client-wrap">
    	<div class="line-with-button"></div>
    	<div class="button-on-line"><div>КЛИЕНТЫ</div></div>
    	<div class="content">
    		<span class="h2">
    			ОНИ ДОВОЛЬНЫ НАШЕЙ РАБОТОЙ
    		</span>
    		<p class="text-align-c">
    			Мы выступаем в роли надёжного партнера, предоставляющего полный комплекс услуг по разработке, <br>развитию и сопровождению сайта. 
    		</p>
    		<div>
                <div class="client-slider">
                    <div id="carousel-example2-generic" class="carousel slide" data-ride="carousel">
                      
     
                      <!-- Содержимое слайдов -->
                      <div class="carousel-inner">
                        <div class="item active">
                          <div class="slide-content">
                          	<div class="big-img-client before after">
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-1.png" alt=""></div>
                          		</div>
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-2.png" alt=""></div>
                          		</div>
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-3.png" alt=""></div>
                          		</div>
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-4.png" alt=""></div>
                          		</div>
                          	</div>
                          	<div class="small-img-client before after">
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-5.png" alt=""></div>
                          		</div>
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-6.png" alt=""></div>
                          		</div>
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-7.png" alt=""></div>
                          		</div>
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-8.png" alt=""></div>
                          		</div>
    
                          	</div>
                          </div>
                        </div>		                     
                        <div class="item">
                         <div class="slide-content">
                          	<div class="big-img-client before after">
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-1.png" alt=""></div>
                          		</div>
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-1.png" alt=""></div>
                          		</div>
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-1.png" alt=""></div>
                          		</div>
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-1.png" alt=""></div>
                          		</div>
                          	</div>
                          	<div class="small-img-client before after">
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-1.png" alt=""></div>
                          		</div>
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-1.png" alt=""></div>
                          		</div>
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-7.png" alt=""></div>
                          		</div>
                          		<div class="client-slide-img-wrap">
                          			<div class="client-slide-img-cont"><img src="<TMPL_var assetsUrl>/img/clients/cl-8.png" alt=""></div>
                          		</div>
    
                          	</div>
                         </div>
                        </div>
                      </div>
                      <!-- Маркеры слайдов -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example2-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example2-generic" data-slide-to="1"></li>
                      </ol>
                   
                    </div>
     
                </div>
    		</div>
    	</div>
    </div>
</div>